<% include header.ejs %>

  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <td>STT</td>
            <td>File Name</td>
            <td>Link</td>
          </tr>
        </thead>
        <tbody>
          <% if(data && url) { data.forEach(function(name, k){ %>
            <tr>
              <td>
                <%=(k + 1)%>
              </td>
              <td>
                <%= name %>
              </td>
              <td>
                <a target="_blank" style="color: blue" href="<%= url + name %>">
                  <%= url + name %>
                </a>
              </td>
            </tr>
            <%});}%>
        </tbody>
      </table>
    </div>
  </div>

  <% include footer.ejs %>